<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Picture-Viewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF90F0A21CB0BD40001A934A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF90F0BE1CB0BD41001A934A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF90F0C91CB0BD41001A934A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
